fastapi 
uvicorn 
langchain-groq 
langchain 
langchain-community
langchain-huggingface
transformers 
sentence-transformers 
faiss-cpu 
pypdf 
python-multipart
acp_sdk
mcp
smolagents
fastacp
duckduckgo-search 
requests 
beautifulsoup4
litellm
smolagents[mcp]